#user-pic-navbar {
  height: 30px;
  width: 30px;
}

#button-logout {
  display: flex;
  margin-left: initial;
}

#job-status {
}

#new-1 {
  height: 400px;
  width: 100%;
}

#new-heading1 {
  height: 100px;
}

#icon-1 {
}

p {
}

#div0-2 {
}

#div-012 {
  height: 1000px;
}

#section-3 {
  padding-top: 400px;
}

#div-chat {
  padding-top: 200px;
  height: 1000px;
  width: 100%;
}

